WebContent/WEB-INF/wsdl/DistributorAVMapping.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://local.webServices.dp.ibm.com" xmlns:impl="http://local.webServices.dp.ibm.com" xmlns:intf="http://local.webServices.dp.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://local.webServices.dp.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="checkAVMappingResponse">
    <complexType>
     <sequence>
      <element name="checkAVMappingReturn" nillable="true" type="impl:ArrayOf_xsd_nillable_string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkAVMapping">
    <complexType>
     <sequence>
      <element name="lapuMobileNo" nillable="true" type="xsd:string"/>
      <element name="avSerialNumber" nillable="true" type="xsd:string"/>
      <element name="userid" nillable="true" type="xsd:string"/>
      <element name="password" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_nillable_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkAVMappingResponse">
     <wsdl:part element="impl:checkAVMappingResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="checkAVMappingRequest">
     <wsdl:part element="impl:checkAVMapping" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="DistributorAVMapping">
     <wsdl:operation name="checkAVMapping">
       <wsdl:input message="impl:checkAVMappingRequest" name="checkAVMappingRequest"/>

       <wsdl:output message="impl:checkAVMappingResponse" name="checkAVMappingResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="DistributorAVMappingSoapBinding" type="impl:DistributorAVMapping">
     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="checkAVMapping">
       <wsdlsoap:operation soapAction="checkAVMapping"/>

       <wsdl:input name="checkAVMappingRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="checkAVMappingResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="DistributorAVMappingService">
     <wsdl:port binding="impl:DistributorAVMappingSoapBinding" name="DistributorAVMapping">
       <wsdlsoap:address location="http://localhost:9080/DPDTH/services/DistributorAVMapping"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
